/* Import the 'Roboto' font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Apply the 'Roboto' font family to the body of the document */
body {
    font-family: 'Roboto', sans-serif;
}

/* Apply the 'Roboto' font family to all heading elements (h1 to h6) */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
}

/* Define the style for elements with the 'small' class */
.small{
    /* Make the font weight lighter */
    font-weight: 300;
    /* Make the font style italic */
    font-style: italic;
}